<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minisrm.admin.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minisrm.admin.model.Menu">
        <result column="id" property="id"/>
        <result column="menuName" property="menuName"/>
        <result column="menuCode" property="menuCode"/>
        <result column="url" property="url"/>
        <result column="desc" property="desc"/>
        <result column="pid" property="pid"/>
        <result column="level" property="level"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <select id="selectList" resultMap="BaseResultMap">
        select
        t.*
        from srm_menu t
        where 1=1
        <if test="condition.menuName != null and condition.menuName != ''">
            and t.menuName like '%' || #{condition.menuName} || '%'
        </if>
        order by
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ${orderBy}
            </when>
            <otherwise>
                updateTime desc
            </otherwise>
        </choose>
    </select>

    <select id="getMenuListById" resultMap="BaseResultMap">
        select
        t.*
        from srm_menu t inner join srm_role_menu rm on t.id = rm.menuId
        inner join srm_user_role ur on ur.roleId = rm.roleId
        where 1=1
        <if test="userId != null and userId != ''">
            and ur.userId = #{userId}
        </if>
    </select>
</mapper>
