<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minisrm.admin.mapper.OrderReviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minisrm.admin.model.OrderReview">
        <result column="id" property="id"/>
        <result column="orderId" property="orderId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="reviewImgUrl" property="reviewImgUrl"/>
        <result column="reviewVideoUrl" property="reviewVideoUrl"/>
        <result column="reviewLinkUrl" property="reviewLinkUrl"/>
        <result column="reviewJtUrl" property="reviewJtUrl"/>
        <result column="reviewUserId" property="reviewUserId"/>
        <result column="reviewUserName" property="reviewUserName"/>
        <result column="reviewDateTime" property="reviewDateTime"/>
        <result column="reviewPlanDateTime" property="reviewPlanDateTime"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <select id="countByOrderId" resultType="long">
        select count(1) from srm_order_review
        where orderId = #{orderId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="condition.id"  keyColumn="id">
        insert into srm_order_review (orderId,
        title,
        content,
        reviewImgUrl,
        reviewVideoUrl,
        reviewLinkUrl,
        reviewJtUrl,
        reviewUserId,
        reviewUserName,
        reviewDateTime,
        reviewPlanDateTime,
        createTime,
        updateTime)
        values (#{condition.orderId},
        #{condition.title},
        #{condition.content},
        #{condition.reviewImgUrl},
        #{condition.reviewVideoUrl},
        #{condition.reviewLinkUrl},
        #{condition.reviewJtUrl},
        #{condition.reviewUserId},
        #{condition.reviewUserName},
        #{condition.reviewDateTime},
        #{condition.reviewPlanDateTime},
        #{condition.createTime},
        #{condition.updateTime})
    </insert>

    <update id="updateByCondition">
        update srm_order_review
        <trim prefix="set" suffixOverrides=",">
            <if test="condition.title != null">title=#{condition.title},</if>
            <if test="condition.content != null">content=#{condition.content},</if>
            <if test="condition.reviewImgUrl != null">reviewImgUrl=#{condition.reviewImgUrl},</if>
            <if test="condition.reviewVideoUrl != null">reviewVideoUrl=#{condition.reviewVideoUrl},</if>
            <if test="condition.reviewLinkUrl != null">reviewLinkUrl=#{condition.reviewLinkUrl},</if>
            <if test="condition.reviewUserId != null">reviewUserId=#{condition.reviewUserId},</if>
            <if test="condition.reviewUserName != null">reviewUserName=#{condition.reviewUserName},</if>
            <if test="condition.reviewDateTime != null">cashBackType=#{condition.reviewDateTime},</if>
            <if test="condition.reviewPlanDateTime != null">reviewPlanDateTime=#{condition.reviewPlanDateTime},</if>
            <if test="condition.updateTime != null">updateTime=#{condition.updateTime},</if>
        </trim>
        where orderId = #{condition.orderId}#
    </update>
</mapper>
