<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minisrm.admin.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.minisrm.admin.model.Order">
        <result column="id" property="id"/>
        <result column="mktName" property="mktName"/>
        <result column="goodImgUrl" property="goodImgUrl"/>
        <result column="goodOrderNum" property="goodOrderNum"/>
        <result column="sellerWXQQ" property="sellerWXQQ"/>
        <result column="sellerOrderType" property="sellerOrderType"/>
        <result column="workerName" property="workerName"/>
        <result column="workingType" property="workingType"/>
        <result column="cashBackType" property="cashBackType"/>
        <result column="website" property="website"/>
        <result column="ASIN" property="ASIN"/>
        <result column="recPrice" property="recPrice"/>
        <result column="xdPrice" property="xdPrice"/>
        <result column="recCommission" property="recCommission"/>
        <result column="xdJtUrl" property="xdJtUrl"/>
        <result column="xdPayedJtUrl" property="xdPayedJtUrl"/>
        <result column="xdUser" property="xdUser"/>
        <result column="xdDateTime" property="xdDateTime"/>
        <result column="recDateTime" property="recDateTime"/>
        <result column="xdRequirement" property="xdRequirement"/>
        <result column="signedJtUrl" property="signedJtUrl"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="flag" property="flag"/>
        <result column="orderCount" property="orderCount"/>
        <result column="dayCount" property="dayCount"/>
        <result column="isLP" property="isLP"/>
        <result column="isDHPZ" property="isDHPZ"/>
        <result column="isHC" property="isHC"/>
        <result column="isHS" property="isHS"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="condition.id" keyColumn="id">
        insert into srm_order (mktName,
        goodImgUrl,
        goodOrderNum,
        sellerWXQQ,
        sellerOrderType,
        workerName,
        workingType,
        cashBackType,
        website,
        ASIN,
        recPrice,
        xdPrice,
        recCommission,
        xdJtUrl,
        xdPayedJtUrl,
        xdUser,
        xdDateTime,
        recDateTime,
        xdRequirement,
        signedJtUrl,
        remark,
        status,
        flag,
        orderCount,
        dayCount,
        isLP,
        isDHPZ,
        isHC,
        isHS,
        createTime,
        updateTime)
        values (#{condition.mktName},
        #{condition.goodImgUrl},
        #{condition.goodOrderNum},
        #{condition.sellerWXQQ},
        #{condition.sellerOrderType},
        #{condition.workerName},
        #{condition.workingType},
        #{condition.cashBackType},
        #{condition.website},
        #{condition.ASIN},
        #{condition.recPrice},
        #{condition.xdPrice},
        #{condition.recCommission},
        #{condition.xdJtUrl},
        #{condition.xdPayedJtUrl},
        #{condition.xdUser},
        #{condition.xdDateTime},
        #{condition.recDateTime},
        #{condition.xdRequirement},
        #{condition.signedJtUrl},
        #{condition.remark},
        #{condition.status},
        #{condition.flag},
        #{condition.orderCount},
        #{condition.dayCount},
        #{condition.isLP},
        #{condition.isDHPZ},
        #{condition.isHC},
        #{condition.isHS},
        #{condition.createTime},
        #{condition.updateTime})
    </insert>


    <select id="selectList" resultMap="BaseResultMap">
        select
        t.*
        from srm_order t
        where 1=1
        <if test="condition.status != null">
            and t.status = #{condition.status}
        </if>
        order by
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ${orderBy}
            </when>
            <otherwise>
                updateTime desc
            </otherwise>
        </choose>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        t.*
        from srm_order t
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select
        t.*
        from srm_order t
        where 1 = 1
        <if test="id != null">
            and t.id = #{id}
        </if>
    </select>

    <update id="updateStatus">
        update srm_order set status = #{status}
        where id = #{id}
    </update>

    <update id="updateByCondition">
        update srm_order
        <trim prefix="set" suffixOverrides=",">
            <if test="condition.mktName != null">mktName=#{condition.mktName},</if>
            <if test="condition.goodImgUrl != null">goodImgUrl=#{condition.goodImgUrl},</if>
            <if test="condition.goodOrderNum != null">goodOrderNum=#{condition.goodOrderNum},</if>
            <if test="condition.sellerWXQQ != null">sellerWXQQ=#{condition.sellerWXQQ},</if>
            <if test="condition.sellerOrderType != null">sellerOrderType=#{condition.sellerOrderType},</if>
            <if test="condition.workerName != null">workerName=#{condition.workerName},</if>
            <if test="condition.workingType != null">workingType=#{condition.workingType},</if>
            <if test="condition.cashBackType != null">cashBackType=#{condition.cashBackType},</if>
            <if test="condition.website != null">website=#{condition.website},</if>
            <if test="condition.ASIN != null">ASIN=#{condition.ASIN},</if>
            <if test="condition.recPrice != null">recPrice=#{condition.recPrice},</if>
            <if test="condition.xdPrice != null">xdPrice=#{condition.xdPrice},</if>
            <if test="condition.recCommission != null">recCommission=#{condition.recCommission},</if>
            <if test="condition.xdJtUrl != null">xdJtUrl=#{condition.xdJtUrl},</if>

            <if test="condition.xdPayedJtUrl != null">xdPayedJtUrl=#{condition.xdPayedJtUrl},</if>
            <if test="condition.xdUser != null">xdUser=#{condition.xdUser},</if>
            <if test="condition.xdDateTime != null">xdDateTime=#{condition.xdDateTime},</if>
            <if test="condition.recDateTime != null">recDateTime=#{condition.recDateTime},</if>

            <if test="condition.xdRequirement != null">xdRequirement=#{condition.xdRequirement},</if>
            <if test="condition.signedJtUrl != null">signedJtUrl=#{condition.signedJtUrl},</if>

            <if test="condition.remark != null">remark=#{condition.remark},</if>
            <if test="condition.orderCount != null">orderCount=#{condition.orderCount},</if>

            <if test="condition.dayCount != null">dayCount=#{condition.dayCount},</if>
            <if test="condition.isLP != null">isLP=#{condition.isLP},</if>

            <if test="condition.isDHPZ != null">isDHPZ=#{condition.isDHPZ},</if>

            <if test="condition.isHC != null">isHC=#{condition.isHC},</if>

            <if test="condition.isHS != null">isHS=#{condition.isHS},</if>
        </trim>
        where id = #{condition.id}#
    </update>
</mapper>
