<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_script">
	<script th:src="@{/static/js/plugin/jquery.min.js?v=2.1.4}"></script>
	<script th:src="@{/static/js/plugin/bootstrap.min.js?v=3.3.6}"></script>
	<script th:src="@{/static/js/plugin/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/static/js/plugin/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/static/js/plugin/layer/layer.js}"></script>
	<script th:src="@{/static/js/plugin/hplus.min.js?v=4.1.0}"></script>
	<script th:src="@{/static/js/plugin/contabs.min.js}"></script>
	<script th:src="@{/static/js/plugin/pace/pace.min.js}"></script>
	<!--<script th:src="@{/static/js/plugin/cookie/js.cookie.js}"></script>-->
	<script th:src="@{/static/js/plugin/toastr/toastr.min.js}"></script>
	<script th:src="@{/static/js/common/ajax-object.js}"></script>
	<script th:src="@{/static/js/common/base.js}"></script>
</div>
</html>
